fastapi
uvicorn
sqlalchemy
pymysql
psycopg2-binary
pydantic[email]
pydantic-settings
email-validator
groq
pytesseract
Pillow
cloudinary
faiss-cpu
sentence-transformers
openai-whisper
TTS
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
alembic
numpy
gunicorn
